<MudSimpleTable Hover="true" Dense="true" FixedHeader="@true" Style="height: 480px;">
    <thead>
        <tr>
            <th>Account Name</th>
            <th>Price</th>
            <th>iLvl</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        @foreach (PriceItem item in Results)
        {
            <tr @onclick="(e => OnClick.InvokeAsync(item))">
                <td>@item.Item.Price.AccountName</td>
                <td>@item.Amount</td>
                <td><img src="@item.ImageUrl" Style="height:20px; width:20px;" /></td>
                <td>@item.Age.Split(' ')[0] @item.Age.Split(' ')[1][0].ToString().ToUpper()</td>
            </tr>
        }
    </tbody>
</MudSimpleTable>
@code {
    [Parameter] public List<PriceItem> Results { get; set; }
    [Parameter] public EventCallback<PriceItem> OnClick { get; set; }
}
