
<MudPaper Class="pa-2">
    <div class="d-flex align-center">
        <img src="/images/betrayal/@Model.Image" alt="@Model.Name" />
        <MudText Align="Align.Center" Typo="Typo.h3">
            @Model.Name
        </MudText>
    </div>
    <MudList Dense="true" DisableGutters="true" DisablePadding="true">
        <Reward Model="Model.Transportation" Label="@Resources.TypeTransportation"></Reward>
        <MudDivider />
        <Reward Model="Model.Fortification" Label="@Resources.TypeFortification"></Reward>
        <MudDivider />
        <Reward Model="Model.Research" Label="@Resources.TypeResearch"></Reward>
        <MudDivider />
        <Reward Model="Model.Intervention" Label="@Resources.TypeIntervention"></Reward>
    </MudList>
</MudPaper>

@code {
    [Inject] private BetrayalResources Resources { get; set; }

    [Parameter] public AgentModel Model { get; set; }
}
