@page "/settings/price"
@layout SettingsLayout
@using Sidekick.Presentation.Blazor.Settings.Components

<MudCard>
    <MudCardHeader Class="pb-0">
        <CardHeaderContent>
            <MudText Typo="Typo.h3">@Resources.Group_Keybinds</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pt-0">
        <KeybindEditor Label="@Resources.Trade_Key_Check"
                       @bind-Value="ViewModel.Trade_Key_Check" />
        <KeybindEditor Label="@Resources.Trade_Key_OpenSearch"
                       @bind-Value="ViewModel.Trade_Key_OpenSearch" />
        <KeybindEditor Label="@Resources.Key_Close"
                       @bind-Value="ViewModel.Key_Close" />
    </MudCardContent>
</MudCard>
<MudCard Class="mt-6">
    <MudCardHeader Class="pb-0">
        <CardHeaderContent>
            <MudText Typo="Typo.h3">@Resources.Group_Other</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pt-0">
        <div>
            <MudCheckBox Label="@Resources.Trade_Prediction_Enable"
                         @bind-Checked="@ViewModel.Trade_Prediction_Enable"></MudCheckBox>
        </div>
        <div>
            <MudCheckBox Label="@Resources.Trade_CloseWithMouse"
                         @bind-Checked="@ViewModel.Trade_CloseWithMouse"></MudCheckBox>
        </div>
    </MudCardContent>
</MudCard>

@code {
    [Inject] private SettingsResources Resources { get; set; }
    [Inject] private SettingsViewModel ViewModel { get; set; }
}
