@page "/settings/stash"
@layout SettingsLayout
@using Sidekick.Presentation.Blazor.Settings.Components

<MudCard>
    <MudCardHeader Class="pb-0">
        <CardHeaderContent>
            <MudText Typo="Typo.h3">@Resources.Group_Keybinds</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pt-0">
        <KeybindEditor Label="@Resources.Stash_Key_Left"
                       @bind-Value="ViewModel.Stash_Key_Left" />
        <KeybindEditor Label="@Resources.Stash_Key_Right"
                       @bind-Value="ViewModel.Stash_Key_Right" />
    </MudCardContent>
</MudCard>
<MudCard Class="mt-6">
    <MudCardHeader Class="pb-0">
        <CardHeaderContent>
            <MudText Typo="Typo.h3">@Resources.Group_Other</MudText>
        </CardHeaderContent>
    </MudCardHeader>
    <MudCardContent Class="pt-0">
        <div>
            <MudCheckBox Label="@Resources.Stash_EnableCtrlScroll"
                         @bind-Checked="@ViewModel.Stash_EnableCtrlScroll"></MudCheckBox>
        </div>
    </MudCardContent>
</MudCard>

@code {
    [Inject] private SettingsResources Resources { get; set; }
    [Inject] private SettingsViewModel ViewModel { get; set; }
}
