@page "/setup"
@layout StartupLayout

@if (!RequiresSetup)
{
    <SidekickLogo />
    <MudCard Class="my-4">
        <MudCardContent>
            <MudText Typo="Typo.body1"
                     Align="Align.Center">
                @Resources.Title
            </MudText>
            <MudProgressLinear Color="Color.Primary"
                               Indeterminate="true" />
        </MudCardContent>
    </MudCard>
    <div class="d-flex justify-end">
        <MudButton OnClick="Exit"
                   Variant="Variant.Text"
                   Color="Color.Default">
            @Resources.Exit
        </MudButton>
    </div>
}
else
{
    <SidekickLogo />
    <EditForm Model="@ViewModel" OnValidSubmit="Save">
        <FluentValidationValidator DisableAssemblyScanning="@true" />

        <MudCard Class="my-3">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@SettingsResources.Language_Title</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <UILanguageSelect @bind-Value="ViewModel.Language_UI" For="@(() => ViewModel.Language_UI)" />
                <GameLanguageSelect Value="@ViewModel.Language_Parser" For="@(() => ViewModel.Language_Parser)" ValueChanged="OnGameLanguageChange" />
            </MudCardContent>
        </MudCard>

        <MudCard Class="mb-3">
            <MudCardHeader>
                <CardHeaderContent>
                    <MudText Typo="Typo.h6">@SettingsResources.Character_Title</MudText>
                </CardHeaderContent>
            </MudCardHeader>
            <MudCardContent>
                <LeagueSelect @bind-Value="ViewModel.LeagueId" For="@(() => ViewModel.LeagueId)" @ref="RefLeagueSelect" />
                <MudTextField Label="@SettingsResources.Character_Name"
                              Variant="Variant.Filled"
                              @bind-Value="ViewModel.Character_Name" />
            </MudCardContent>
        </MudCard>

        @*
            <MudCard Class="mb-3">
                <MudCardContent>
                    <MudCheckBox Label="@SettingsResources.General_SendCrashReports" @bind-Checked="@ViewModel.SendCrashReports" />
                </MudCardContent>
            </MudCard>
        *@

        <div class="d-flex justify-end">
            <MudButton OnClick="Exit"
                       Variant="Variant.Text"
                       Color="Color.Default">
                @Resources.Exit
            </MudButton>
            <MudButton Variant="Variant.Filled"
                       Color="Color.Primary"
                       ButtonType="ButtonType.Submit">
                @SettingsResources.Save
            </MudButton>
        </div>
    </EditForm>
}
