
<div class="d-flex align-center justify-center">
    @if (Value == Domain.Cheatsheets.RewardValue.High)
    {
        <MudTooltip Text="@Resources.Value_High">
            <div class="high-double-icon">
                <MudIcon Icon="@Icons.Material.Filled.ThumbUp"
                         Class="green-text"></MudIcon>
                <MudIcon Icon="@Icons.Material.Filled.ThumbUp"
                         Class="green-text text-darken-4"></MudIcon>
            </div>
        </MudTooltip>
    }
    else if (Value == Domain.Cheatsheets.RewardValue.Medium)
    {
        <MudTooltip Text="@Resources.Value_Medium">
            <MudIcon Icon="@Icons.Material.Filled.ThumbUp"
                     Class="teal-text"></MudIcon>
        </MudTooltip>
    }
    else if (Value == Domain.Cheatsheets.RewardValue.Low)
    {
        <MudTooltip Text="@Resources.Value_Low">
            <MudIcon Icon="@Icons.Material.Filled.ThumbDown"
                     Class="yellow-text"></MudIcon>
        </MudTooltip>
    }
    else
    {
        <MudTooltip Text="@Resources.Value_None">
            <div class="no-double-icon">
                <MudIcon Icon="@Icons.Material.Filled.ThumbDown"
                         Class="red-text text-darken-4"></MudIcon>
                <MudIcon Icon="@Icons.Material.Filled.ThumbDown"
                         Class="red-text"></MudIcon>
            </div>
        </MudTooltip>
    }
</div>

@code {
    [Inject] private CheatsheetResources Resources { get; set; }

    [Parameter] public Sidekick.Domain.Cheatsheets.RewardValue Value { get; set; }
}
