
<div class="@Class">
    @if (Value == RewardValue.High)
    {
        <MudTooltip Text="@Resources.Value_High">
            <MudProgressLinear Min="0" Max="4" Value="4" Color="Color.Success"></MudProgressLinear>
        </MudTooltip>
    }
    else if (Value == RewardValue.Medium)
    {
        <MudTooltip Text="@Resources.Value_Medium">
            <MudProgressLinear Min="0" Max="4" Value="3" Color="Color.Primary"></MudProgressLinear>
        </MudTooltip>
    }
    else if (Value == RewardValue.Low)
    {
        <MudTooltip Text="@Resources.Value_Low">
            <MudProgressLinear Min="0" Max="4" Value="2" Color="Color.Warning"></MudProgressLinear>
        </MudTooltip>
    }
    else
    {
        <MudTooltip Text="@Resources.Value_None">
            <MudProgressLinear Min="0" Max="4" Value="1" Color="Color.Error"></MudProgressLinear>
        </MudTooltip>
    }
</div>

@code {
    [Inject] private CheatsheetResources Resources { get; set; }

    [Parameter] public RewardValue Value { get; set; }
    [Parameter] public string Class { get; set; }
}
